* {box-sizing:border-box}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    min-height: 100vw;
    width: 100vw;
    background-color:white;
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    width: 100%;
    /* flex-grow: 1; Detta 채r korrigering p책 christians css, fyller n채r tillg채ngligt utrymme finns */
    box-sizing: border-box;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 250px;
    width: 100%;
    background-color: white;
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 10px;
    color: #333333;
    margin: 10px 0;
    
}

.nav-section h1 {
    font-style: italic;
    font-size: 28px;
}

.name-container {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.name-container h3 span {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: #479a71;
    padding: 5px 20px;
    margin-bottom: 20px;
}

article div span {
    /* font-style: italic; */
    font-size: 20px;
}

.article-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 24%;
    height: 550px;
    background-color: white;
    margin: 0;
}

.article-wrapper p {
    text-align: center;
}

.article-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    margin: 5px 0;
}

article a {
    align-self: flex-end;
    text-decoration: none;
    color: black;
}

article img {
    width: 85%;
    height: 85%;
    object-fit: contain;
  }

article input {
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 10px 0 10px 0;
}

article:hover {
    box-shadow: 0  10px 20px rgba(0, 0, 0, 0.2);
    /* background-color: #f2f2f2;*/
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex: 1;
}

.search-container input {
    display: flex;
    height:50px;
    width: 90%;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-container input:focus {
    outline: none;
    
}

.search-container input:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.fruit-logo {
    height: 180px;

}

.shopping-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    height: 100%;
    padding: 0 20px;
    flex: 1;
}

.fa-shopping-cart {
    margin: 0 20px;
}

.fa-user {
    margin-right: 20px;
}

.fa-heart, .fa-shopping-cart, .fa-user {
    color: #479a71;
    font-size: 36px;
}

.fa-search {
    transform: translateX(-200%);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 50px;
    width: 100%;
    background-image:linear-gradient(to right,#7fb401,#479a71);
    /* background-color: #7fb401; */
    box-shadow: 0px  2px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
    /* font-weight: bold; */
    font-family: 'Roboto Slab', cursive;
}

.nav-bar a:hover {
    color:#479a71;
    background: white;
    text-decoration: underline;
    padding: 8px 12px;
}

.nav-bar a.active {
    color:#479a71;
    background: white;
    padding: 8px 12px;
}

.banner-container {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    width: 100%;
}

.banner {
    display: flex;
    margin-right: auto;
    margin-left: 50px;
}

.newsletter {
    margin: 0 100px 0 10px;
}


.img-container {
    display: flex;
    margin: 0;
}

.span-container {
    display: flex;
    flex-shrink: 1;
}

.button-container {
    display: flex;
    flex-shrink: 1;
}

.logo-container-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo-container-footer img {
    height: 100px;
}

.divider {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin: 5px 0;
    width: 45%;
}

.divider-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height:auto;
}

footer {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    /* background-color: #7fb401; */
    background-image:linear-gradient(to right,#7fb401,#479a71);
    bottom: 0%;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer-links-container {
    display: flex;
    margin: 0 10px;
}

.footer-links {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.footer-links li {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-links li a{
    color:black;
    text-decoration: none;
}

.footer-links a:hover {
    color:#ffffff;
    cursor: pointer;
}

