* {box-sizing:border-box}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /*Detta är korrigering på christians css, så att main får plats på höjden*/
    width: 100vw;
    background-color:white;
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 85%;
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 70px;
    width: 100%;
    background-color: #479a71;
}

.nav-bar a {
    text-decoration: none;
    /* color: #4bdf6c; */
    color:#ffffff;
    font-weight: bold;
    font-family: 'poppins';
}

.nav-bar a:hover {
    color:#479a71;
    background: white;
    border-radius: 30px;
    text-decoration: underline;
    padding: 8px 12px;

}

.nav-bar a.active {
    color:#479a71;
    background: white;
    border-radius: 30px;
    padding: 8px 12px;
}

.header-icon {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fruit-logo {
    height: 125px;

}

.search-container {
    margin-left: 0px;
    transform: translateX(-30%);
}

.search-container input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid lightgray;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.search-container input:focus {
    outline: none;
    
}

.search-container input:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-container i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
}

.header-icons:nth-child(2) {
    margin: 0 75px 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1000px;
    width: 85%;
    box-sizing: border-box;
    flex-grow:1; /*Detta är korrigering på christians css, fyller när tillgängligt utrymme finns */
    height:auto; /*Detta är korrigering på christians css, tar bort fast höjd på main, gör den dynamisk*/
}

.kontakt{
    background-color:white;
    width: 45%;
    height: auto;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#option-form{ /*den här ser ful ut*/
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
}

#input-form{ /*den här ser ful ut*/
    height: 40px;
    width: 350px;
    margin-bottom: 10px;
}

#input-message{ /*den här ser ful ut*/
    height: 150px;
    width: 350px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #479a71;
    gap: 1rem;
    flex-shrink: 0; /*Detta är korrigering på christians css, gör att footer inte krymper när man minskar sidan*/
}