* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /*Detta är korrigering på christians css, så att main får plats på höjden*/
    width: 100vw;
    background-color:white;
    margin: 0;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap; 
    width: 85%;
    height:auto; /*Detta är korrigering på christians css, tar bort fast höjd på main, gör den dynamisk*/
}
.section-pitch{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    color: #333333;
    margin: 10px 0;
}

.om-section{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    margin: 10px 0;
}
p{
    max-width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
}
.om-box{
    background-color:white;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 20px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.om-box:hover{
    box-shadow: 0  10px 20px rgba(0, 0, 0, 0.2);
}
.petra-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;    
}
.om-oss{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;  
}
article.om-box img{
    border-radius: 20px;
    margin-top: 20px;
    width: 150px;
    height: 150px;  
}
article.om-box p{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    text-align: center;
    text-align: justify;
}
.om-box h3{
    padding: 10px 20px;
    background-color: #479a71;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
/*css för kontakt*/
.kontakt-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color:white;
    width: 45%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0  10px 20px rgba(0, 0, 0, 0.2);
}

.kontakta-oss{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    color: #333333;
    margin: 10px 0;  
}