body{
    display:flex;
    justify-content: center;
}

main{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}

section{
    background-color:rgba(242, 241, 235, 0.7);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#historik{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    text-align: justify;
}


.employees{
    background-color:rgba(242, 241, 235, 0.7);
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 20px;

}