body{
    display:flex;
    justify-content: center;
}

main{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}

section{
    width: 100%;
    text-align: center;
}


.employees{
    background-color: beige;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 20px;

}