* {box-sizing:border-box}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    height: 100vw;
    width: 100vw;
    background-color:white;
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 85%;
    background-color: white;
}

.header-icon {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fruit-logo {
    height: 170px;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 70px;
    width: 100%;
    background-color: #479a71;
    box-shadow: 0  2px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}

li {
    float: left;
}

.nav-bar a {
    text-decoration: none;
    color: #4bdf6c;
    color:#ffffff;
    font-weight: bold;
    font-family:cursive;
}

.nav-bar a:hover {
    color:#479a71;
    background: white;
    border-radius: 30px;
    padding: 8px 12px;
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 10px;
    color: #333333;
    margin-bottom: 10px;
}

.nav-section h1 {
    font-style: italic;
    font-size: 28px;
}

.search-container {
    margin-left: 0px;
    transform: translateX(-30%);
}

.search-container input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-container input:focus {
    outline: none;
    
}

.search-container input:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-container i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
}

.text-wrapper h3 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.text-wrapper span {
    background-color: #479a71;
    padding: 5px 20px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin: 0;
    height: 1000px;
    width: 85%;
    box-sizing: border-box;
}

.like-product {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin: 10px 10px 0 0;
}

.article-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 24%;
    height: 550px;
    background-color: white;
    margin: 0;
}

.article-wrapper article {
    width: 100%
}

.article-wrapper p {
    text-align: center;
}

.article-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    margin: 5px 0;
}

article a {
    align-self: flex-end;
    text-decoration: none;
    color: black;
}

article img {
    width: 85%;
    height: 85%;
    object-fit: contain;
  }

article input {
    font-weight: bold;
    height: 50px;
    width: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-bottom: 20px;
}

article:hover {
    box-shadow: 0  10px 20px rgba(0, 0, 0, 0.2);
    /* background-color: #f2f2f2;
}


/* .header-icons:nth-child(2) {
    margin: 0 75px 0 auto;
} */

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: #479a71;
    bottom: 0%;
    box-sizing: border-box;
}

/* .banner-container {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
}

.banner {
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 30px;
} */

/* .banner:hover {
    box-shadow: 0  2px 5px rgba(0, 0, 0, 0.2);
}

.reklam-banner {
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid black;
} */


