* {box-sizing:border-box}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    min-height: 100vw;
    width: auto;
    background-color:white;
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 250px;
    width: 100%;
    background-color: white;
    flex-grow: 1;
}

.burger-menu, .burger-menu-btn {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: auto;
    width: 85%;
    padding: 10px;
    /* flex-grow: 1; Detta är korrigering på christians css, fyller när tillgängligt utrymme finns */
    box-sizing: border-box;
    
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex: 1;
}

.search-container input {
    display: flex;
    height:50px;
    width: 90%;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-container input:focus {
    outline: none;  
}

.search-container input:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-container-header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.company-logo {
    height: 180px;
}

.logo-container-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo-container-footer img {
    height: 100px;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    height: 100%;
    padding: 0 20px;
    flex: 1;
}

.fa-shopping-cart {
    margin: 0 20px;
}

.fa-user {
    margin-right: 20px;
}

.fa-search {
    transform: translateX(-200%);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 50px;
    width: 100%;
    background-image:linear-gradient(to right,#7fb401,#479a71);
    box-shadow: 0px  2px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #4bdf6c;
    color:#ffffff;
    font-weight: bold;
    font-family:cursive;
}

.nav-bar a:hover {
    color:#479a71;
    background: white;
    text-decoration: underline;
    padding: 8px 12px;
}

.nav-bar a.active {
    color:#479a71;
    background: white;
    padding: 8px 12px;
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 10px;
    color: #333333;
    margin: 10px 0;
    
}

.nav-section h1 {
    font-style: italic;
    font-size: 28px;
}

.name-container {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.name-container h3 span {
    font-size: 1.5vw;
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: #479a71;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.article-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 24%;
    height: auto;
    background-color: white;
    margin: 0;
}

.article-wrapper p {
    text-align: center;
}

.row-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    margin: 5px 0;
}

article a {
    align-self: flex-end;
    text-decoration: none;
    color: black;
}

article img {
    width: 85%;
    height: 85%;
    object-fit: contain;
  }

article input {
    font-size: 18px;
    font-weight: bold;
    height: auto;
    width: 80%;
    background-color: #f2f2f2;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 10px 0 10px 0;
}

article:hover {
    box-shadow: 0  10px 20px rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    background-image:linear-gradient(to right,#7fb401,#479a71);
    bottom: 0%;
    box-sizing: border-box;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer-links-container {
    display: flex;
    width: 50%;
}

.footer-links-container-1 {
    display: flex;
    justify-content: flex-end;

    
}

.footer-links {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
}

.footer-links-left {
    margin-left: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 1.65vw;
    font-weight: bold;
}

.footer-links li {
    margin-bottom: 0;
}

.footer-links li a{
    color:black;
    text-decoration: none;
    font-size: 1.5vw;
}

.footer-links a:hover {
    color:#ffffff;
    cursor: pointer;
}

.divider {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin: 5px 0;
    width: 45%;
}

.divider-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height:auto;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.span-container {
    display: flex;
    flex-shrink: 1;
}

.span-container span {
    font-size: 3vh;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 70px;
}

    
/* För skärmar som är 768px eller mindre (typiskt mobiler) */
@media screen and (max-width: 768px) {

    body {
        width: 100%;
    }

    main {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .nav-bar {
        display: none;
    }

    header {
        flex-direction: column;
        background-image:linear-gradient(to right,#7fb401,#479a71);
    }

    .search-container {
        margin-top: 20px;
    }
    
    .company-logo {
        height: 40%;
        margin-bottom: 60px;
    }

    .icons-container {
        display: none;
        
    }
    .nav-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: auto;
        padding: 0px 10px;
        
    }
    
    .nav-section h1 {
        font-size: 20px;
    }


    .article-wrapper p {
        text-align: center;
    }
    
    .row-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 20px;
        border: 1px solid #f2f2f2;
        margin: 5px 0;
        flex-grow: 1;
    }
    
    article a {
        align-self: flex-end;
        text-decoration: none;
        color: black;
    }
    
    article img {
        width: 60%;
        height: 60%;
        object-fit: contain;
    }
    
    article input {
        font-size: 3vw;
        font-weight: bold;
        height: auto;
        width: 80%;
        background-color: #f2f2f2;
        border-radius: 10px;
        outline: none;
        border: none;
        margin: 10px 0 10px 0;
        padding: 10px 0;
    }
    
    article:hover {
        box-shadow: 0  10px 20px rgba(0, 0, 0, 0.2);
    }

    .span-container span {
        font-size: 2.3vh;

    }

    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-links li a{
        font-size: 1rem;
        font-weight: bold;
    }

    .copyright {
        text-align: center;
        font-size: 5vw;
        width: auto;
        padding: 5%;

    }

    .divider {
        border-top: 8px solid #bbb;
        border-radius: 5px;
        margin: 5px 0;
        width: 80%;
    }
    
    .burger-menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(/images/burger-menu.png), url(/images/close.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center left 50px;
    }

    .burger-menu-container {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        margin-right: 20px;
    }

    .burger-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 900;
        background-color: #111;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        font-size: 5vh;
        margin-top: 50px;
    }

    .links a {
        color:#479a71;
    }

    .linka a.active {
        color:orangered;
        background: white;
    }

    .icons-container-menu {
        display: flex;
        justify-content: center;
        gap: 80px;
        margin-top: 50px;
    }

}