* {box-sizing:border-box}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vw;
    width: 100vw;
    background-color:white;
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 85%;
    background-color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 70px;
    width: 100%;
    background-color: #479a71;
}

.nav-bar a {
    text-decoration: none;
    /* color: #4bdf6c; */
    color:#ffffff;
    font-weight: bold;
    font-family: 'poppins';
}

.nav-bar a:hover {
    color:orangered;
    text-decoration: underline;

}

.active {
    background-color: #4CAF50;
    color: white;
}

.header-icon {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fruit-logo {
    height: 125px;

}

.search-container {
    margin-left: 0px;
    transform: translateX(-30%);
}

.search-container input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid lightgray;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.search-container input:focus {
    outline: none;
    
}

.search-container input:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-container i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1000px;
    width: 85%;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 20px;
    border: none;
    margin: 10px 0;
}

.like-product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 30px;
}

article img {
    width: 85%;
    height: 85%;
    object-fit: contain;
  }

.header-icons:nth-child(2) {
    margin: 0 75px 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #479a71;
    gap: 1rem;
}


.nav-bar {
    display: flex;
    justify-content: center;
}

.banner-wrap {
    display: flex;
    height: 120px;
    width: 100%;
}

.reklam-banner {
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.slide-show-wrap {
    display: flex;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
}

.slide-show {
    display: flex;
    height: 100%;
    width: 50%;
    border: 1px solid black;
}

.nyhetsbrev {
    display: flex;
    height: 100%;
    width: 50%;
    border: 1px solid black;
}


