* {box-sizing:border-box}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    min-height: 100vw;
    width: auto;
    background-color:white;
    box-sizing: border-box;
    margin: 0;
    font-family: "Lora", serif;
    font-weight: 400; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700; 
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 250px;
    width: 100%;
    min-width: 250px;
    background-color: white;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex: 1;
}

.search-container input {
    display: flex;
    height:50px;
    width: 90%;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-container input:focus {
    outline: none;
}

.search-container input:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-container-header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.company-logo {
    height: 180px;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    height: 100%;
    padding: 0 20px;
    flex: 1;
}

.fa-shopping-cart {
    margin: 0 20px;
}

.fa-user {
    margin-right: 20px;
}

.fa-search {
    transform: translateX(-200%);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 50px;
    width: 100%;
    min-width: 250px;
    background-image:linear-gradient(to right,#7fb401,#479a71);
    box-shadow: 0px  2px 5px rgba(0, 0, 0, 0.2);
}

.nav-bar a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #4bdf6c;
    color:#ffffff;
    font-weight: bold;
    font-family:cursive;
}

.nav-bar a:hover {
    color:#479a71;
    background: white;
    text-decoration: underline;
    padding: 8px 12px;
}

.nav-bar a.active {
    color:#479a71;
    background: white;
    padding: 8px 12px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    min-width: 250px;
    background-image:linear-gradient(to right,#7fb401,#479a71);
    bottom: 0%;
    box-sizing: border-box;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.footer-links-container {
    display: flex;
}

.footer-links {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.logo-container-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo-container-footer img {
    height: 100px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.footer-links li {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-links li a{
    color:black;
    text-decoration: none;
}

.footer-links a:hover {
    color:#ffffff;
    cursor: pointer;
}

.divider {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin: 5px 0;
    width: 45%;
}

.divider-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height:auto;
}

@media (max-width: 768px) {
    
}